fastapi==0.110.0
uvicorn==0.30.0

mysql-connector-python==8.3.0

google-api-python-client==2.125.0
google-auth==2.31.0
google-auth-oauthlib==1.2.0

torch==2.8.0
torchaudio==2.8.0

demucs==4.0.0
openai-whisper==20250625
faster-whisper==1.2.1
whisperx @ git+https://github.com/m-bain/whisperx.git

numba==0.62.1
llvmlite==0.45.1

pydantic==1.10.14
python-multipart==0.0.9

numpy==2.0.2
pandas==2.2.3

soundfile==0.13.1
requests==2.32.5
tqdm==4.67.1
